# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# IDEs
.idea/
.vscode/

# Android
android/.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/

# macOS
macos/Pods/

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Archivos del sistema
.DS_Store
Thumbs.db
